#user-interface {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  

  body {
    background-color: #7b9f35;
  }

  section {
    background: #354f00;
    color: #ffffff;
  }

  button {
    background: #567714;
    border:none;
    color: #ffffff;
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
input[type='text'] {
    text-align: center;
    background-color: #d4ee9d;
    padding: 4px;
    height: 25px;
    width: 90%;
  }
   